@font-face {
    font-family: Undertale;
    src: url('Assets/Fonts/COMICBD.TTF');
}

#body {
    background-color: black;
    color: white;
    text-align: center;
}
.title {
    text-align: center;
    font-family: Undertale;
}