.grid-container1 {
    display: grid;
    grid-template-columns: 200px 30% 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.item1 {
    background-color: lightblue;
    padding: 20px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.item2 {
    background-color: lightsalmon;
    padding: 20px;
}