.rat {
    position: fixed;
    z-index: 1;
    transition: top 2s, left 2s;
}

#body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: none;
}

.back {
    position: fixed;
    z-index: -1;
}