.title {
    text-align: center;
    font-family: Undertale;
    font-size: 50px;
}

.lore {
    text-align: center;
    font-family: dmono;
    margin: auto;
    width: 55%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
}

.button {
    margin-inline: 50px;
}