.title {
    text-align: center;
    font-family: undertale;
}

.lore {
    text-align: center;
    font-family: undertale;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25%;
    grid-template-rows: 35% 1fr;
    gap: 20px;
    margin-top: 20px;
}

.loreimg {
    width: 100%;
}