* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}

.centrado {
    text-align: center;
}

.negrita {
    font-weight: bold;
}

.amarillo {
    background-color: yellow;
}

div {
    text-align: center;
}