.title {
    text-align: center;
    font-family: undertale;
}

.loreimg {
    text-align: center;
    font-family: undertale;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 35% 35%;
    grid-template-rows: 35% 1fr;
    gap: 10px;
    margin-top: 20px;
}

.lore {
    text-align: center;
    font-family: undertale;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
}

.loreimg {
    width: 100%;
}